* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
img#Batallas{
    width: 750px ;
    margin-left: 400px;
    margin-top: 50px;
}
p{
    margin-top: 40px;
}
img#napoleao{
    width: 600px ;
    height: 600px;
    margin-left: 480px;
    margin-top: 50px;
}
.h1_1{
    text-align: center;
    margin-top: 50px;
}
.exilado{
    width: 600px;
    margin-left: 450px;
    margin-top: 50px;
}
.container2{
    display: flex;
    margin-top: 50px;
}
img#imagem1{
    width: 500px;
    margin-left: 200px;
}
img#imagem2{
    width: 500px;
    margin-left: 100px;
}
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        padding: 10px;
      }
      .grid-item {
        background-color: #f2f2f2;
        padding: 20px;
        font-size: 18px;
        text-align: center;
      }
